/* styles.css */

body {
  font-family: 'Open Sans', sans-serif;
}

#NavPadding {
  padding: 0 8%;
}

#logo {
  margin-right: 12%;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.logo-img {
  width: 55px;
}

#navmenu .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#SubMenu {
  margin-top: 2%;
}

#navmenu .navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#navmenu .navbar-nav a {
  padding: 10px 20px;
  text-align: center;
}

.navbar-nav a {
  color: #a7adad;
}

.navbar-nav a:hover {
  color: black;
}

#herramienta {
  color: #0C5A79;
  font-size: 20px;
}

.dropdown-menu {
  left: auto !important;
  right: 0 !important;
  width: 230px;
}

@media (min-width: 992px) {
  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
}
